.form {
  display: block;
  width: 300px;
  height: 50px;
  margin: 0 auto 20px;
  margin-bottom: 150px;
}
.inputName,
.inputNumber {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
  outline: none;
  border: none;

  color: #61de2a;
  background-color: black;
}
.buttonAddContacts {
  width: 300px;
  height: 40px;
  outline: none;
  border: none;
  color: green;
  cursor: pointer;
  font-size: 25px;
  margin: 15px auto;
  background-color: black;
  margin-bottom: 100px;
}
.buttonAddContacts:hover,
.buttonAddContacts:focus {
  background-color: rgb(92, 194, 92);
  color: black;
}
