@keyframes task {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.listItem-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.listItem-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms ease-in;
}
.listItem-exit {
  opacity: 1;
  transform: translateX(0);
}
.listItem-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 250ms ease-out;
}
.wrapper {
  align-content: center;
  justify-content: center;
  align-content: center;
}
