.wrapper {
  margin-bottom: 20px;
  width: 300px;

  margin: 0 auto 20px;
  box-shadow: 0px 3px 5px black;
}
.inputName {
  margin-bottom: 5px;
  text-align: center;
}
.filter {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
  outline: none;
  border: none;
  background-color: black;
  color: greenyellow;
}
.filter:focus {
  border: 1px solid green;
}
